<div id="bonus-overlay"></div>
<form id="bonus-form" class="bonus-confirmation-form" onsubmit="event.preventDefault();">
  <p>Wpisz wartość premii: </p>
  <input type="text" name="" id="bonus-value">
  <button
    class="message-item-button btn--overlay"
    type="submit"
    id="confirm-bonus"
  >
    Edytuj
  </button>
</form>
