<div id="overlay"></div>
  <form id="confirmation-form" method="POST" action="/logout">
    <p>Czy na pewno chcesz się wylogować?</p>
    <button class="message-item-button btn--overlay" type="submit" id="confirm-logout">Tak</button>
    <button class="message-item-button btn--overlay" type="button" id="cancel-logout">Anuluj</button>
  </form>