<div id="sum-up-overlay"></div>
<form id="sum-up-form" class="sum-up-confirmation-form" style="display: none" method="POST">
  <input type="hidden" name="CSRFToken" value=<%= token %>>
  <p>Czy chcesz wyeksportować kampanię do Excela?</p>
  <button
    class="message-item-button btn--overlay"
    type="submit"
    id="confirm-excel"
  >
    Tak
  </button>
  <button
    class="message-item-button btn--overlay"
    type="button"
    id="cancel-excel"
  >
    Nie
    </button>
</form>
<div class="redirecting-control">
  <p id="redirecting">Trwa przekierowywanie...</p>
  <i class="fa-solid fa-spinner fa-spin fa-xl"></i>
</div>
