@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

* {
    box-sizing: border-box;
  }

html, body {
    height: 100%;
}

body {
    background-image: url('money-2696219_1920.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

.not-auth {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
