.table-control {
    background-color: antiquewhite;
    margin-top: 50px;
    border: 1px solid black;
    width: 800px;
}

.no-employees {
    background-color: #faebd7;
    margin-top: 200px;
    border: 1px solid black;
    width: 400px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

p {
    font-weight: bold;
}


table {
    background-color: antiquewhite;
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
}

.option--item {
    border: 1px solid black;
}

.option--item-control {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

select {
    background-color: rgb(221, 199, 170);
    border: 2px solid black;
    border-radius: 4px;
    padding: 5px;
}

input {
    background-color: rgb(221, 199, 170);
    border: 2px solid black;
    border-radius: 4px;
    padding: 5px;
}

th, td {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}

.btn-employees {
    margin-top: 50px;
    padding: 15px;
}

#update-button {
    margin-top: 40px;
}

.test {
    width: auto; 
}


.btn-employee {
    background-color: #B97318;
    border: 2px solid black;
    font-size: 0.8rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
    padding: 5px;
    height: 100%;
    width: 100%;
    display: block;
}

.btn-employee:hover {
    background-color: #E28E21;
}

.tr--options {
    height: 50px;
}

@media screen and (max-width: 800px) {
    .btn-employee {
        width: 100%;
        font-size: 0.5rem;
        text-align: center;
    }
    
    .table-control {
        width: 300px;
        font-size: 0.6rem;
    }

    table {
        width: 300px;
    }

    td, th {
        max-width: 50px;
    }

    .option--item-control {
        width: 140px;
        font-size: 0.7rem;
    }

    select {
        width: 70px;
    }

    input {
        width: 100px;
    }

    #employee-details-button {
        padding: 0;
    }


}

@media screen and (max-width: 600px) {
    .btn-employee {
        font-size: 0.5rem;
        text-align: center;
        min-width: 100%;
    }

    #employee-details-button {
        padding: 0;
    }
}