.employee-control {
    border: 2px solid black;
    background-color: #faebd7;
    display: flex;
    flex-flow: column;
    width: 60%;
    margin-top: 50px;
}

.info-control {
    padding: 20px;
}

.emp-details-bar {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.employee-details {
    width: 100%;
}

.flatpickr-input[type="text"] {
    color: white;
    display: none;
}

.title-control {
    display: flex;
    height: 20%;
    width: 100%;
}
 
.date-control {
    margin-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    border-bottom: 2px solid black;
    width: 100%;
}

.days-selection-msg {
    font-size: 1.5rem;
}

img {
    border: 2px solid black;
}

.full-name {
    width: 80%;
    font-size: 2.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 850px) {
    img {
        display: none;
    }

    .full-name {
        width: 100%;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 800px) {
    .employee-details {
        width: 100%;
    }

    table {
        width: 100%;
    }
}

@media screen and (max-width: 550px) {
    .employee-control {
        width: 100%;
        margin: 0;
    }
}