@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.8;
  }
}

.message-item {
  font-size: 1.5rem;
  border: 2px solid black;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: antiquewhite;
  opacity: 0.8;
  animation: fadeIn 1s ease-in-out;
  padding: 60px;
}

.message-item-control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.message-item-button {
  border: 2px solid black;
  text-decoration: none;
  color: black;
  padding: 10px;
  border-radius: 10px;
  background-color: whitesmoke;
  font-weight: bold;
  box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.75);
}

.message-item-button:hover {
  color: rgb(75, 70, 70);
}
