.old-campaign-box {
    text-align: center;
    width: 800px;
    margin-top: 50px;
    border: 2px solid black;
    padding: 20px;
    background-color: #faebd7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    font-size: 0.8rem;
  }

  @media screen and (max-width: 800px) {
    .old-campaign-box {
      width: 100%;
    }
  }
    