<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/Form.css">
</head>

<body>
  <%- include('../includes/logout-overlay.ejs')%>
  <header>
    <%- include('../includes/navigation.ejs') %>
  </header>
  <main class="auth">
    <form action="/create-excel-file" method="POST" class="form">
        <p class="title">Wybierz tytuł oraz lokalizację pliku</p>
        <div class="form-control">
            <label for="filename" class="form-label">Podaj nazwę pliku</label>
            <input class="form-input" type="text" id="filename" name="filename" required>
        </div>
        <div class="form-control">
            <label for="filepath" class="form-label">Wybierz datę zakończenia kampanii: </label>
            <input class="form-input" type="file" id="filepath" name="filepath" webkitdirectory directory multiple required>
        </div>
        <div class="form-control">
            <button type="submit" class="message-item-button">Dodaj</button>
        </div>
    </form>
  </main>
  <%-include('../includes/logout.ejs')%>
</body>

</html>