<%- include('../includes/head.ejs') %>
</head>

<body>
  <header>
    <%- include('../includes/navigation.ejs') %>
  </header>
  <p>fdsjofnjsdnfjlksndf</p>
  <button class="ui button">Follow</button>
</body>
</html>